#sideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sideNavContainer {

  background-image: url('/src/images/bg-sidebar-desktop.svg');
  width: 300px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: cover;
  margin-top: 15px;
  margin-right: 100px;
  border-radius: 15px;
}
#sideNavSteps {
  margin-left:100px;
  color: white;
  margin-top:20px;
  position: absolute;
}
.stepNum {
  display: flex;
  flex-direction: column;
position:absolute;
margin-left:35px;
margin-top:60px;

}
#step1 {
  color: white;
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  cursor: pointer;

}
#step2 {
margin-top:25px;
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
#step3 {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
#step4 {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
