
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

#step2Container{
font-family: 'Ubuntu', sans-serif;
margin-right: 50px;
  height: 300px;
  width: 600px;
  border-style: solid;
  margin-top: 2rem;
  margin-left: 375px;
 

}
.toggle-btn{
  margin-top: 1rem;
  background-color: #F8F9FF;
  border-radius: 8px;
  height: 48px;
  width: 450px;
  align-items: center;

}
.type-of-billing{
  display: flex;
  flex-direction: column;
  border-style: blue solid;
}


.header{
  color:  hsl(213, 96%, 18%);

}
.subheader {
  color: grey;
  font-size: 18px;
}
.Opts{
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;

}




